/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
/* a:focus,a:active{outline: none;} */

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
/* a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;} */
/* ul li{list-style: none;} */
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@import url("./fonts/dinpro/stylesheet.css");
@import url("./fonts/nexa/stylesheet.css"); 

 /* @font-face {
    font-family: "dinpro";
    src: url("./fonts/dinpro/stylesheet.css");
}  */
/* @font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Medium.eot');
    src: local('DIN Pro Medium'), local('DINPro-Medium'),
        url('DINPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Medium.woff2') format('woff2'),
        url('DINPro-Medium.woff') format('woff'),
        url('DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
} */
/* @font-face {
    font-family: 'DIN Pro';
    src: url('DINPro-Bold.eot');
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
        url('DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff'),
        url('DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('DINPro.eot');
    src: local('DIN Pro'), local('DINPro'),
        url('DINPro.eot?#iefix') format('embedded-opentype'),
        url('DINPro.woff2') format('woff2'),
        url('DINPro.woff') format('woff'),
        url('DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

 body{
    font-family:'Arial', sans-serif;
    
} 

 * {
     box-sizing: border-box;
     
}
 


.project{
    max-width: 1930px;/*вернуть 1920*/
     /* 2295 px*/
    margin: 0 auto;
    display: flex;
}


/* left-bar ===================================================*/

.left_sidebar{
    top:0 ;
    left:0 ;
    width: 20vw;
    /* height: 100vh; */
    
}

.left_sidebar_logo{
    margin-top:5% ;
    margin-left:10% ;
    text-align: center;
}

.left_sidebar_logo figcaption {
    font-family: "Nexa" , system-ui;
    font-size: 2em;
    text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.25) ;
}

.logo__border{
    margin: 30px 0 31px 110px;
    width: 180px;
    height: 0px;
    border: 0.5px solid #A4ACAD;
}

.left_sidebar_menu{
    padding-left: 40px;
    margin-top: 10% ;
    margin-left:30% ;
    /* flex-wrap: nowrap; */
}
.left_sidebar_menu_list{
    display:flex !important;
    flex-direction: column !important;
    /* flex-wrap: nowrap; */
}

.left_sidebar_menu li{
    display:flex ;
    align-items: center;
    font-family: 'DIN Pro';
    list-style: none;
    margin-bottom:15% ;
}

.left_sidebar_menu_text{
margin-left:5% ;
font-size: larger;
}

.left_sidebar_menu_text:hover{
    cursor:pointer ;
    color: rgb(255,152,70) ;
}

.left_sidebar_menu_soon{
    margin-left:6rem ;
    position: absolute;
    text-align: center;
    width: 3rem;
    font-size: x-small;
    color: rgb(255,255,255) ;
    background-color: rgb(235,87,87);
    border-radius: 10% /50%;
    align-self: flex-start;
}

.hide{
    display:none ;
}


/* main ======================================================*/

.main{
    width: 1170px; /*1170px*/
    height: 2295px;
    background: #F2F2F2;
    position: relative;
   
}

/* header ====================================================*/

.header{
    height: 94.5px;
    width: 100%;
    border-bottom: 0.5px solid #A4ACAD;
    display: flex;
}
.header__contact{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;

    width: 268px; /* посмотерть что с отступами  идет искажение должно быть 220px*/
    height: 100%;

    border-right: 0.5px solid #A4ACAD;
}
.contact-text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.header__contact-telephone{  
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;

    color: #FF9846;
}
.contact__time{
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #A4ACAD;
}
.contact__time img{
    padding: 1px 5px 0 0;
}
.header__wrap{
    width: 100%;

    display: flex;
    justify-content: space-between; 
    
}
.header__wrap-city{
    padding-top: 26px;
    padding: 27px;
     
}
.header__wrap-city {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #A4ACAD;
}
.city{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
}
.header__wrap-content{
    display: flex;
    align-items: center;
    text-align: center; 
    
    margin-right: 40px;
     
}
/* Выпадающее меню ==========================*/
.dropbtn {  
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    
    min-width: 198px;
    height: 290px;
    box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.09);
    border-radius: 15px 15px 0px 0px;
    display: none;
    position: absolute;
    background: #FFFFFF;
    text-align: left;
    
    z-index: 1;
}

.dropdown-content .sorting{
    font-weight: 300;
    font-size: 14px;
    line-height: 5px;
    color: #A4ACAD;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    font-style: normal;
    font-weight: 400;
    
}
.dropdown-content_border{
    border-bottom: 0.5px solid #A4ACAD;
 
}
.dropdown-content_border img{
    margin: 3px 0 0 50px;
}

.dropdown-content a:hover {color: #FF9846;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #FF9846;}


.header__comment {
   
    margin-right: 10px;   
    text-decoration: none; 
    color: #111111;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
   
}

.fas{
    cursor: pointer;
}
.fas.fa-search{    
    margin-left: 70px;
    color: #ccc;
    cursor: pointer;         
}
.fas.fa-search:hover{
    color:red;
} 

/* main-content=================================== */

.main-content{
    width: 950px; /*950px*/
    /* height: 470px; */
    position: relative; /*проверить как работает*/
    margin: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
       
}
.main-banner{    
    margin:30px 0 11px 0;
}
.slider-dots{
    display: flex;    
    
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 12px;
    background: #A4ACAD;
    cursor: pointer;
}
.dot:hover{
    background: #FF9846;
}

/* section =============================*/

.main__section{ /*Оптимизировать*/
    width: 950px; 
    height: 430px;
    display: flex; 
    justify-content: space-between;
    align-content: space-between; 
    flex-wrap: wrap;  
    line-height: 0;  
    margin: 31px 0 24px 0;

}
article{        
    position: relative;     
    
}
.section__two{
    width: 470px;
    display: flex;
    justify-content: space-between;
}
.cursor{
    cursor: pointer;
}
.text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;

    position: absolute;
    left: 10px; 
    top: 160px;
} 
.two__text{
position: relative;
}

/*offer================================*/
.offer{    
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.offer span{
    cursor: pointer;
}
.pop{
    margin-left: 30px;
    text-decoration-line: underline;
    color: #A4ACAD;
}

/* content__product =========================================*/
.content__product{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    
}

.product__box{
    width: 289px;
    height: 397px;    
    
    background: #FFFFFF;   
}
.product__img{
    padding: 0 18px; 
}
.product__titl{
    /* font-style: normal; */
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px; /* Проверить отступы по ленейке*/
    padding-left: 17px; /* Проверить отступы по ленейке*/
    
}
.product__titl-one{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin: 46px 0 14px 0; /* Проверить отступы по ленейке*/
    padding-left: 17px;
}

.product__description{
    padding: 0 0 0 17px;/* Проверить отступы по ленейке*/
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;

}

.product__wrap{
    width: 100%;
    border-top: 0.5px solid #A4ACAD;
    margin-top: 20px; /* Проверить отступы по ленейке*/
    
}

.product__price{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    padding: 17px 5px 0 18px; /* проверить отступы*/
}
.product__btn{
    width: 143px;
    height: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F2;
    background: #F46D40;
    border-radius: 5px;
    margin-top: 11px; /* Проверить отступы по ленейке*/
}


/* btn__slider======================================= */
.btn__slider{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    position: absolute;  
    top: 1340px;
    border: 1px solid red;
    z-index: 100;
}

.btn__slider-right{
    /* left: 1062px;
    position: absolute;     */
    
}

/* content__presentation ========================================= */

.content__presentation{
    margin-top: 50px; /* Проверить отступы*/
    color: #A4ACAD;
    font-size: 16px;
    line-height: 100%;
   
    font-style: normal;
    font-weight: 400;
    

}
.presentation__titl{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;


    line-height: 30px;
    
}
.presentation__text{
    padding-top: 10px;
    opacity: 0.8;    

}
.presentation__text-indent{
    opacity: 0.8; 
    padding-left: 25px;
 
}
.presentation__text-bac{
    /* opacity: 0.5;  */
     
}
.presentation__text-bac p:nth-child(1){
    opacity: 0.5;
    
}
.presentation__text-bac p:nth-child(2){
    opacity: 0.3;
}
.presentation__text-bac p:nth-child(3){
    opacity: 0.2;
}

.presentation__info{
    /* margin-top: ; */
}
.presentation__btn-vector{
    margin-left: 10px;
}
.presentation__btn{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #F46D40;

}
/* right-bar========================================== */

.right-bar{
    width: 22%;/*430px*/
    height: 100%;
    
    
}
.right-bar__basket{
    width: 290px;
    height: 140px;

    background: #F2F2F2;
    color: #A4ACAD;
    border-radius: 5px; 

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    margin-top: 55px;
    margin-left: 40px;
}
.right-bar__basket h2{ 
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    margin-top: 12px;
    margin-bottom: 10px;

    color: #000000;
}
.right-bar__btn{
    width: 290px;
    height: 40px;

    margin-top: 26px;

    background: #FF9846;
    border-radius: 0px 0px 5px 5px; 

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #F2F2F2;
}
.right-bar__map{
    width: 290px;
    height: 223px;

    background: #F2F2F2;
    border-radius: 5px;

    margin-top: 20px;
    margin-left: 40px;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}
.map-ellipse{ /* поправить убрать чать кода , оптимизировать  */
    position: absolute;
    margin-top: 86px;

    cursor: pointer;
}
.map-ellipse-vector{ /* поправить убрать чать кода , оптимизировать  */
    position: absolute;
    margin-top: 97px;
    cursor: pointer;
}
.map-ellipse-one{ /* поправить убрать чать кода , оптимизировать  */
    position: absolute;
    margin-top: 102px;
    cursor: pointer;
}
.map-subtext{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;

    margin-top: 38px;
    
}
.map-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #A4ACAD;
    margin-top: 10px;

}
